body {
	font-family: sans-serif;
}
:root {
	--color-1: #4B2D73;
	--color-2: #343477;
	--color-3: #2A506D;
	--color-4: #AA8E39;
  }
h1{
  font-size: 15vw;
  font-weight: 100vw;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
 margin: auto;
  text-transform: uppercase;
  text-align: left;
 background: linear-gradient(219deg, 
    var(--color-1) 19%, 
    transparent 19%,transparent 20%, 
    var(--color-2) 20%, var(--color-2)  39%,
    transparent 39%,transparent 40%, 
    var(--color-3) 40%,var(--color-3) 59% ,
    transparent 59%,transparent 60%, 
    var(--color-4) 60%, var(--color-4) 79%,
    transparent 79%, transparent 80%, 
    var(--color-1) 80%);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}
li{
	list-style-type: none;
	margin: 10px 10% 10px 10%;
	padding: 20px;
	font-size: 18px;
	
}
h2{
		font-size: 28px;
}
a{text-decoration: none;}